/* UTILITY CLASSES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

.ep-container {
  width: 1000px;
  height: 100vh;
  margin: 0 auto
}

.clearfix:after {
  clear: both;
  display: table;
  content: ""
}

.flex-container {
  display: flex
}

.f-l {
  float: left
}

.f-r {
  float: right
}

.m-l {
  margin-left: 60px
}
/* end utility classes */

body {
  background: #FFF3DF
}

header {
  background: #FDBB40;
  height: 20vh;
  position: relative;
}

main {
  background: #fff;
  padding-bottom: 50px;
  height: 70vh
}

header h1 {
  line-height: 130px
}

.img-burger {
  position: absolute;
  transform: translate(0, -50%);
  right: -50px;
  top: 90px
}

.hamburger-choises {
  margin-bottom: 50px
}

.hamburger-choises li img {
  display: inline-block;
}

.hamburger-choises ul {
  list-style-type: none;
  display: inline-block;
}

#burger-name {
  height: 50px;
  width: 300px;
  font-size: 30px;
  border: none;
  margin: 20px 0 20px 60px
}

#add-coupon {
  border: none;
  background: #FDF5E4;
  width: 300px;
  height: 25px;
  border-radius: 7px;
  margin-left: 15px
}

.calculate-button {
  justify-content: center;
}

.total-price {
  justify-content: space-between;
}

#ingredients-button {
  width: 150px;
  height: 50px;
  border-radius: 7px;
  box-shadow: none;
  background: #FFB245;
  border-color: #FFB245;
  border: none;
  margin-top: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer
}

footer {
  background: #C3425B;
  height: 10vh;
  align-items: flex-end;
}

footer span {
  color: #fff;
  font-size: 25px;
  line-height: 10vh;
  margin: 0 60px 0 60px;
  justify-content: space-between;
}
